package com.tumei.${module}.game.protos;

import com.tumei.${module}.game.GameServer;
import com.tumei.${module}.game.GameUser;

@Component
public class ${bs.name} extends BaseProtocol {
	#foreach ($i in ${bs.items})
		#if (${i.type} == "map")
			public Map<${i.key}, ${i.value}> ${i.name} = new HashMap<>();
		#elseif (${i.type} == "list")
			public List<${i.value}> ${i.name} = new ArrayList<>();
		#else
			public ${i.type} ${i.name};
		#end
	#end

    @Override
    public void onProcess(WebSocketUser session) {
        GameUser user = (GameUser)session;
        GameServer server = user.getServer();
    }
}
