<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>


    <!--<appender name="GrayLog" class="com.github.pukkaone.gelf.logback.GelfAppender">-->
        <!--<graylogHost>192.168.1.222</graylogHost>-->
        <!--<graylogPort>12201</graylogPort>-->
    <!--</appender>-->

</configuration>